.mainContainer{
  width: 500px;
  margin: 0 auto;
  background-color: rgb(17, 17, 138);
  
}

#colorBox {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border: 2px solid black;
}

.color-option {
  width: 100px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  box-shadow: gray;
  border: 1px;
}

#colorOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0;
}

#newGameButton{
  padding: 10px 20px;
  border-radius: 6px;
  background-color: black;
  color: white;
  outline: none;
  margin: 10px;
}

.newGameButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameInstructions,
#score,
#gameStatus{
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

#gameStatus{
  color: brown;
}

#score{
  color: blue;
}
